<div id="chart-container">
  <!-- Chart Section -->
  <div id="chart" class="chart-card">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title">
    </apx-chart>
  </div>

  <!-- Button Section -->
  <div class="button-container">
    <button (click)="switchToLine()" class="btn btn-secondary">Line Chart</button>
    <button (click)="switchToHistogram()" class="btn btn-primary">Bar Chart</button>
  </div>
</div>
