.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    display: flex;
}

body {
    padding-top: 70px; /* Offset for fixed navbar */
}

.navbar {
    background-color: #28a745;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
}

.nav-link.active {
    color: #f8f9fa;
    background-color: #145214;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-text {
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
}

.btn-primary {
    background-color: #145214;
    border-color: #145214;

}

.btn-primary:hover {
    background-color: #0c3d0c;
    border-color: #0c3d0c;
}

.notification {
    position: fixed;
    top: 70px;
    left: 20%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
}

@media (max-width: 767.98px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .navbar-text {
        margin-bottom: 10px;
    }
}
