<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Important Features Section -->
      <div class="col-md-4">
        <h5 class="footer-title">Key Features for Farmers</h5>
        <ul class="footer-links">
          <li><a href="#">Farm Products</a></li>
          <li><a href="#">Farm Inputs</a></li>
          <li><a href="#">Poultry Products</a></li>
          <li><a href="#">Livestock Products</a></li>
          <li><a href="#">Farm Equipment</a></li>
        </ul>
      </div>

      <!-- Popular Products Section -->
      <div class="col-md-4">
        <h5 class="footer-title">Popular Products</h5>
        <ul class="footer-links">
          <li><a href="#">Maize</a></li>
          <li><a href="#">Beans</a></li>
          <li><a href="#">Eggs</a></li>
          <li><a href="#">Broilers & Layers</a></li>
          <li><a href="#">Cattle & Dairy Products</a></li>
          <li><a href="#">Goats & Sheep</a></li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-md-4">
        <h5 class="footer-title">Stay Connected</h5>
        <p class="footer-text">Follow us on social media for tips, news, and special offers.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/mibei.kimutaiismael" class="social-link">
              <i class="fab fa-facebook"></i> Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/@MibeiIsmael" class="social-link">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/mibeikimutai/" class="social-link">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p>&copy; 2024 Agri-Business Market Hub | Empowering Farmers, Growing Together.</p>
      </div>
    </div>
  </div>
</footer>
