<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Important Features</h5>
        <ul>
          <li>Farm Product</li>
          <li>Farm Inputs</li>
          <li>Poultry Products</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Common Products</h5>
        <ul>
          <li>Maize</li>
          <li>Beans</li>
          <li>Poultry</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect with Us</h5>
        <p>Follow us on social media for the latest news and updates.</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/mibei.kimutaiismael"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li class="list-inline-item"><a href="https://twitter.com/@MibeiIsmael"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/mibeikimutai/"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
