
body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  margin-left: 250px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #22a04c;
  color: white;
  font-size: 1.1rem;
}

.table td {
  background-color: #f9f9f9;
  font-size: 1rem;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-responsive {
  overflow-x: auto;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-primary {
  background-color:#22a04c;
  border: none;
}

.btn-primary:hover {
  background-color:#12f15c;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-sm {
  font-size: 0.875rem;
}

i {
  margin-right: 5px;
}

.icon-button {
  border: none; 
  background: transparent; 
  padding: 0; 
  color: inherit; 
  font-size: 1.2rem; 
}

.icon-button i {
  pointer-events: none; 
}


.icon-button:hover {
  background-color: #f0f0f0; 
  cursor: pointer; 
}

/* Pagination button styling */
button[disabled] {
  background-color: #ddd;
  cursor: not-allowed;
}

button {
  margin: 5px;
}



@media (max-width: 768px) {


  .container {
    margin-left: 0;
  }
  

  .table th, .table td {
    font-size: 0.9rem;
    padding: 8px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .btn-lg {
    font-size: 1.1rem;
  }
}
