<app-sidebar></app-sidebar>
<div class="container my-4">
  <h2 class="text-center mb-1">Egg Production Records</h2>
  <div class="text-center mb-1 mt-5">
    <button (click)="navigateToAddRecord()" class="btn btn-primary btn-lg">
      <i class="fas fa-plus"></i> Add New Record
    </button>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-hover mt-1">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Egg Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of eggRecords">
          <td>{{ record.date | date: 'shortDate' }}</td>
          <td>{{ record.eggsCount }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-2 icon-button" (click)="editRecord(record)">
              <i class="fas fa-edit text-warning"></i>
            </button>
            <button class="btn btn-danger btn-sm ms-2 icon-button" (click)="deleteRecord(record.id)">
              <i class="fas fa-trash text-danger"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
