<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="expense-table">
    <div class="header d-flex align-items-center mt-3 mb-2">
      <div class="back-icon" (click)="goBack()">
        <i class="fa fa-chevron-left mt-2" title="Back" style="cursor: pointer;"></i>
      </div>

      <div class="header-title text-center">
        <h2 class="fw-bold" style="color: #006400;">
          <i class="fa fa-cash-register"></i> Farm Records
        </h2>
      </div>
    </div>

    <div class="filter-container d-flex flex-row align-items-center justify-content-between gap-2 mb-3 mt-2">
      <div class="input-icon-container flex-grow-1">
        <input 
          type="text" 
          id="filterInput" 
          [(ngModel)]="filterTerm" 
          (ngModelChange)="applyFilter()" 
          placeholder="Search record type..." 
          class="form-control" 
          aria-label="Search record type">
        <i class="fa fa-search position-absolute search-icon"></i>
      </div>

      <div class=" record-button d-flex justify-content-center align-items-center max-width-100">
        <button 
          class="btn d-flex align-items-center justify-content-center gap-1 fw-bold btn-responsive"
          style="background-color:#006400;color: whitesmoke;"
          (click)="toggleModal()" data-bs-toggle="tooltip" title="Add new record">
          <i class="fa fa-plus"></i>Record new flock
        </button>
      </div>
    </div>

    <hr class="fw-bold text-success" />

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead class="table-success">
            <tr>
              <th>Date Hatched</th>
              <th>No</th>
              <th>Age</th>
              <th>Feed on</th>
              <th>Next Vaccination</th>
              <th>Next Vacc. Date</th>
              <th>Sold?</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              *ngFor="let record of filteredPoultryRecords | slice:(currentPage-1)*itemsPerPage:(currentPage*itemsPerPage); let i = index">
              <td>{{ formatDate(record.date) }}</td>
              <td>{{ record.count }}</td>
              <td>{{ calculateDescriptiveAge(record.date) }}</td>
              <td>{{ getFeedType(calculateAgeInDays(record.date)) }}</td>
              <td>{{ getNextVaccine(calculateAgeInDays(record.date), record.date).vaccine }}</td>
              <td>{{ getNextVaccine(calculateAgeInDays(record.date), record.date).date }}</td>
              <td>
                <span [ngClass]="{ 'text-success': !record.sold, 'text-danger': record.sold }">
                  {{ record.sold ? 'Yes ✓' : 'No' }}
                </span>
              </td>
              <td>
                <div class="d-flex">
                  <button
                    class="btn btn-warning btn-sm me-2"
                    (click)="onEditFarm(record, i)"
                    data-bs-toggle="tooltip"
                    title="Edit record"
                  >
                    <i class="fa fa-pen"></i>
                  </button>
                  <button *ngIf="!record.sold" class="btn btn-success btn-sm" (click)="onSellBird(i)" data-bs-toggle="tooltip" title="Make a sale">
                    Sell
                  </button>
                  <button *ngIf="record.sold" class="btn btn-danger btn-sm" (click)="onDeleteBird(i)" data-bs-toggle="tooltip" title="Delete record">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>

      <div class="pagination-controls mt-2">
        <button class="btn btn-outline-success" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span >Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="btn btn-outline-success" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>


    </div>

    <div *ngIf="!filteredPoultryRecords || filteredPoultryRecords.length === 0" class="alert alert-info text-center">
      No records available to display.
    </div>
  </div>
</div>




<div class="modal" [ngClass]="{'show': isModalOpen}" tabindex="-1" role="dialog" *ngIf="isModalOpen" @modalAnimation>
  <div class="modal-dialog modal-bottom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-plus"></i> Record new flock</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true" style="color: red;font-weight: bold;cursor: pointer;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="hatchDate">Hatch Date:</label>
            <input
              id="hatchDate"
              type="date"
              class="form-control"
              [(ngModel)]="newHatchData.hatchDate"
              name="hatchDate"
              required
            />
          </div>
          <div class="form-group">
            <label for="birdType">Bird Type:</label>
            <input
              id="birdType"
              type="text"
              class="form-control"
              [(ngModel)]="newHatchData.birdType"
              name="birdType"
              required
            />
          </div>
          <div class="form-group">
            <label for="birdCount">Bird Count:</label>
            <input
              id="birdCount"
              type="number"
              class="form-control"
              [(ngModel)]="newHatchData.birdCount"
              name="birdCount"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Add Record</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'show': isModalOpen}" tabindex="-1" role="dialog" *ngIf="isModalOpen" @modalAnimation>
  <div class="modal-dialog modal-bottom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-plus"></i> Edit Record</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true" style="color: red;font-weight: bold;cursor: pointer;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveEdit()">
          <div class="form-group">
            <label for="hatchDate">Hatch Date:</label>
            <input
              id="hatchDate"
              type="date"
              class="form-control"
              [(ngModel)]="formData.hatchDate"
              name="hatchDate"
              required
            />
          </div>
          <div class="form-group">
            <label for="birdType">Bird Type:</label>
            <input
              id="birdType"
              type="text"
              class="form-control"
              [(ngModel)]="formData.birdType"
              name="birdType"
              required
            />
          </div>
          <div class="form-group">
            <label for="birdCount">Bird Count:</label>
            <input
              id="birdCount"
              type="number"
              class="form-control"
              [(ngModel)]="formData.birdCount"
              name="birdCount"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->