<div class="layout">
    <app-sidebar></app-sidebar>

    <div class="main-content">
        <div class="container">

            <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
                <button (click)="addCustomer()" class="btn btn-success add-btn fw-bold">
                    <i class="fa fa-plus"></i> Add New Customer
                </button>
            
                <h2 class="customer-count fw-bold text-center w-100 d-md-inline-block">
                    Customers No: <span class="text-warning">{{ totalCustomers }}</span>
                </h2>
            </div>
            
            <div class="table-responsive mt-4">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td>{{ customer.id }}</td>
                            <td>
                                <ng-container *ngIf="customer.image && isValidImage(customer.image); else defaultImage">
                                    <img [src]="customer.image" alt="Customer Image" 
                                         class="customer-image" (error)="imageError($event)" />
                                </ng-container>
                                <ng-template #defaultImage>
                                    <i class="fa fa-user customer-image"></i>
                                </ng-template>
                            </td>
                            
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td class="d-flex justify-content-center">
                                <button (click)="editCustomer(customer.id)" class="btn btn-warning btn-sm action-btn">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button (click)="deleteCustomer(customer.id)" class="btn btn-danger btn-sm action-btn ms-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
