<app-sidebar></app-sidebar>

<div class="dashboard">
  <h1>Client Orders Dashboard</h1>
  <div *ngIf="loggedInUser">
    <h2>Welcome, {{ loggedInUser.firstName }} {{ loggedInUser.lastName }}!</h2>
    <p>Email: {{ loggedInUser.email }}</p>
    <p>Phone: {{ loggedInUser.phoneNumber }}</p>
    <img [src]="loggedInUser.userImageUrl" alt="User Image">
  </div>

  <h2>Summary Of Items Picked by {{loggedInUser.firstName}}</h2>
  <table *ngIf="cart.length > 0">
    <thead>
      <tr>
        <th>Item Id</th>
        <th>Item Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | currency }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="cart.length > 0" class="total" style="float: right;margin-bottom: 20px;"  >
    <p style="font-weight: bold;">Total: {{ total | currency }}</p>
  </div>
</div>

<app-footer></app-footer>
