<app-sidebar></app-sidebar>
<div class="container my-5">
  <h2 class="text-center mb-1 mt-3">{{ editMode ? 'Edit' : 'Add' }} Egg Record</h2>
  <form (ngSubmit)="saveRecord()" class="form-container">
    <div class="form-group">
      <label for="date" class="form-label">Date</label>
      <input
        type="date"
        id="date"
        [(ngModel)]="record.date"
        name="date"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="eggsCount" class="form-label">Egg Count</label>
      <input
        type="number"
        id="eggsCount"
        [(ngModel)]="record.eggsCount"
        name="eggsCount"
        class="form-control"
        required
        min="0"
      />
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-success btn-lg">
        {{ editMode ? 'Update' : 'Save' }}
      </button>
      <button type="button" class="btn btn-secondary btn-lg" (click)="cancel()">Cancel</button>
    </div>
  </form>

 <app-notification *ngIf="showNotification" [message]="successMessage" [showSpinner]="showSpinner" [showTick]="showTick"></app-notification>
</div>


