body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px;
}

.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-size: 1.1rem;
  color: #333;
}

.form-control {
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
}

.form-control:focus {
  border-color: #22a04c;
  box-shadow: 0 0 5px rgba(0, 255, 157, 0.5);
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.success-snackbar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #4caf50;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;  
  position: fixed; 
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
}


.success-snackbar .mat-simple-snackbar-action {
  color: #fff;
  font-weight: bold;
}


.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}


@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin-left: 0;
  }

  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .form-container {
    padding: 15px;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }
}
