<div class="container">
  <div class="image-wrapper">
    <img src="assets/images/farmer.png" alt="Login Image">

    <div class="formdiv">
      <form (ngSubmit)="onSubmit()">
        
        <div class="welcome-message">
          <h3>Welcome to Brishkim Eco-Eggs</h3>
          <p>Manage your poultry farm with ease</p>
        </div>

    
        <div *ngIf="loading" class="spinner-overlay">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div class="mb-3" style="margin-top: 20px;">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary toggle-password-btn bg-light" (click)="togglePasswordVisibility()">
                <i class="fa fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">Login</button><br><br>

        <h4 class="text-center text-info forgot-password" (click)="navigateToForgotPassword()" style="cursor: pointer; text-decoration: underline;">
          Forgot Password?
        </h4>

        <button routerLink="/registration" class="btn btn-success w-100 mt-2">Create Account</button>
      </form>
    </div>
  </div>
</div>
