<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="sales-table">
    <div class="header d-flex align-items-center">
 
      <div class="back-icon" (click)="goBack()">
        <i class="fa fa-chevron-left mt-2" title="Back" style="cursor: pointer;"></i>
      </div>
      
      <div class="header-title text-center">
        <h2 class=" fw-bold" style="color: #39b339;"><i class="fa fa-file"></i> Farm Sales</h2>
      </div>
    </div>

    <div class="filter-container d-flex flex-row align-items-center justify-content-between gap-2 mb-3">
      <div class="input-icon-container flex-grow-1">
        <input 
          type="text" 
          id="filterInput" 
          [(ngModel)]="filterText" 
          (ngModelChange)="filterSales()" 
          placeholder="Search sales type..." 
          class="form-control" 
          aria-label="Search expense type">
        <i class="fa fa-search position-absolute search-icon"></i>
      </div>

      <div class="  record-button d-flex justify-content-center align-items-center max-width-100">
        <button 
          class="btn d-flex align-items-center justify-content-center gap-1 fw-bold btn-responsive"
          style="background-color:#39b339;color: whitesmoke;"
          (click)="openSalesModal(salesModal)" data-bs-toggle="tooltip" title="Record new sales">
          <i class="fa fa-plus"></i> Add Sales Records
        </button>
      </div>
    </div>

    <div class="text-success fw-bold" style="max-width: 100%; height: 8px;">
      <hr class="fw-bold text-success">
    </div>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Item</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of currentSalesPage; let i = index">
          <td>{{ sale.date | date: 'mediumDate' }}</td>
          <td>{{ sale.birdType }}</td>
          <td>{{ sale.sales | currency: 'KES' }}</td>
          <td class="action-icons text-center justify-content-between">
            <button (click)="onEdit(i, salesModal)" class="btn btn-link p-0"  data-bs-toggle="tooltip" title="Edit Sale" >
              <i class="fa fa-edit text-warning"></i>
            </button>
            <button (click)="onDeleteClick(sale)" class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" title="Delete Sale" >
              <i class="fa fa-trash text-danger"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-controls d-flex">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn bg-success">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn bg-success">Next</button>
    </div>

    <div class="total-sales mt-2 mb-3">
      <strong>Total sales: <span style="color:#39b339;">{{ getTotalSales() | currency: 'KES' }}</span></strong>
    </div>
  </div>
</div>

<ng-template #salesModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Record Farm Sales</h4>
      <div class="close-section">
        <span class="vertical-line"></span>
        <button 
          type="button" 
          class="close text-danger" 
          aria-label="Close" 
          (click)="modal.dismiss('Cross click')">
          &times;
        </button>
      </div>
    </div>

    <div class="modal-body">
      <form (ngSubmit)="saveSale()">
        <div class="form-group">
          <label for="date">Date:</label>
          <input 
            type="date" 
            id="date" 
            [(ngModel)]="newSale.date" 
            name="date" 
            required 
            class="form-control" />
        </div>

        <div class="form-group">
          <label for="birdType">Item Sold:</label>
          <input 
            type="text" 
            id="birdType" 
            [(ngModel)]="newSale.birdType" 
            name="birdType" 
            required 
            class="form-control" />
        </div>

        <div class="form-group">
          <label for="sales">Sales Amount (Ksh):</label>
          <input 
            type="number" 
            id="sales" 
            [(ngModel)]="newSale.sales" 
            name="sales" 
            required 
            class="form-control" />
        </div>

        <button type="submit" class="btn btn-success btn-block">Record</button>
      </form>
    </div>
  </div>
</ng-template>

