<div class="cart">
  <h2>Order summary</h2>
  <div *ngFor="let product of cart; let i = index" class="cart-item">
    <div class="cart-info">
      <h4>{{product.name}}</h4>
      <p>KSh {{product.price | number:'1.2-2'}}</p>
      <button (click)="removeFromCart(i)">Remove</button>
    </div>
  </div>
  <button class="submit-button" (click)="proceedToPayment()">Submit Order</button>
  <table class="cart-sum-table">
    <tr>
      <td>Total sum of goods:</td>
      <td>KSh {{ total | number:'1.2-2' }}</td>
    </tr>
  </table>
  <div class="delivery-fees">
    <h3>Delivery fees</h3>
    <p>KSh 250</p>
  </div>
  <div class="total">
    <h3>Total</h3>
    <p>KSh {{ (total + 250) | number:'1.2-2' }}</p>
  </div>
</div>
