<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="expense-table">
    <div class="header d-flex align-items-center">
 
      <div class="back-icon" (click)="goBack()">
        <i class="fa fa-chevron-left mt-2" title="Back" style="cursor: pointer;"></i>
      </div>
      
      <div class="header-title text-center">
        <h2 class=" fw-bold" style="color: #39b339;"><i class="fa fa-cash-register"></i> Farm Expenses</h2>
      </div>
    </div>

    <div class="filter-container d-flex flex-row align-items-center justify-content-between gap-2 mb-3">
      <div class="input-icon-container flex-grow-1">
        <input 
          type="text" 
          id="filterInput" 
          [(ngModel)]="filterText" 
          (ngModelChange)="filterExpenses()"  
          placeholder="Search expense type..." 
          class="form-control" 
          aria-label="Search expense type">
        <i class="fa fa-search position-absolute search-icon"></i>
      </div>

      <div class=" record-button d-flex justify-content-center align-items-center max-width-100">
        <button 
          class="btn d-flex align-items-center justify-content-center gap-1 fw-bold btn-responsive"
          style="background-color:#39b339;color: whitesmoke;"
          (click)="openExpenseModal(expenseModal)" data-bs-toggle="tooltip" title="Record new expense">
          <i class="fa fa-plus"></i>Record Expenses
        </button>
      </div>
    </div>


    <div class="text-success fw-bold" style="max-width: 100%; height: 8px;">
      <hr class="fw-bold text-success">
    </div>


    <div class="table-container">
      <table class="table table-striped table-hover table-borderless">
        <thead>
          <tr>
            <th>Date</th>
            <th>Expense</th>
            <th>Amount</th>
            <th>Notes</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of currentExpensesPage">
            <td>{{ expense.date | date: 'mediumDate' }}</td>
            <td>{{ expense.expenseType }}</td>
            <td>{{ expense.amount | currency: 'KES' }}</td>
            <td>{{ expense.notes }}</td>
            <td class="action-icons text-center justify-content-between">
              <button (click)="onEdit(expense, expenseModal)" class="btn btn-link p-0" data-bs-toggle="tooltip" title="Edit Sale" >
                <i class="fa fa-edit text-warning"></i>
              </button>
              <button class="ms-1 btn btn-link p-0 ms-2" (click)="onDeleteExpense(expense)" data-bs-toggle="tooltip" title="Delete Sale" >
                <i class="fa fa-trash text-danger"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn bg-success text-white">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn bg-success text-white">Next</button>
    </div>

    <div class="total-expenses mt-3">
      <strong>Total Expenses: <span class="text-danger">{{ getTotalExpenses() | currency: 'KES' }}</span></strong>
    </div>
  </div>
</div>


 
  <ng-template #expenseModal let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Record Farm Expense</h4>
        <div class="close-section">
          <span class="vertical-line"></span>
          <button 
            type="button" 
            class="close text-danger" 
            aria-label="Close" 
            (click)="modal.dismiss('Cross click')">
            &times;
          </button>
        </div>
      </div>

    <div class="modal-body">
      <form (ngSubmit)="saveExpense()">
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" id="date" [(ngModel)]="newExpense.date" name="date" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="birdType">Type of Expense:</label>
          <input type="text" id="birdType" [(ngModel)]="newExpense.expenseType" name="birdType" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="notes">Reason:</label>
          <input type="text" id="notes" [(ngModel)]="newExpense.notes" name="notes" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="expenses">Expense Amount (Ksh):</label>
          <input type="number" id="expenses" [(ngModel)]="newExpense.amount" name="expenses" class="form-control" required>
        </div>

        <button type="submit" class="btn-submit bg-success w-100">Record Expense</button>
      </form>
    </div>
  </div>
  </ng-template>

