<nav class="navbar navbar-expand-lg navbar-fixed-top ">
  <div class="container-fluid" style="height: 60px;">
    <div class="d-flex justify-content-between align-items-center w-100">

      <div class="d-flex align-items-center ms-n5 me-1" style="width: 100%;max-width: 100%;">
     
        <button class="navbar-toggler d-flex flex-column align-items-center d-lg-none" 
        type="button"
         data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" 
          aria-controls="#navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <i class="fa-solid fa-bars navbar-toggler-icon text-success"></i>
          <span class="menu-text text-success">Menu</span>
        </button>


        <div class="vertical-line d-lg-none"></div>
        
        <div class="logo d-flex flex-lg-row flex-column align-items-center text-center">
          <img src="assets/images/poultry.jpg" alt="Eco-Eggs Poultry Logo" class="logo-image">
          <span class="text-green fw-bold ms-lg-2 mt-lg-0 logo-text fs-4 mb-sm-2">EcoEggsFarm</span>
        </div>
        
        <div class="vertical-line  d-lg-none"></div>

        <div class="notifications ms-2">
          <button
            class="btn position-relative notification-bell"
            (click)="viewActivities()"
          >
            <i
              class="fa fa-bell"
              [class.vibrating]="recentActivities.length > 0"
              aria-hidden="true"
            ></i>
            <span
              *ngIf="recentActivities.length > 0"
              class="badge notification-badge"
            >
              {{ recentActivities.length }}
            </span>
          </button>
        </div>
        

        
        <div class="vertical-line ms-3  d-lg-none"></div> 

        <li class="nav-item d-flex align-items-center d-lg-none"   *ngIf="loggedInUser">
          <div class="user-info d-flex flex-column align-items-center ms-3"  routerLink="/settings">
            <ng-container *ngIf="!imageError && loggedInUser?.userImageUrl; else defaultIcon">
              <img 
                [src]="loggedInUser.userImageUrl ? environment.apiUrl + '/' + loggedInUser.userImageUrl.replace('\\', '/') : ''" 
                alt="User Image" 
                class="user-photo rounded-circle" 
                (error)="onImageError($event)" 
                routerLink="/settings"
              >
            </ng-container>
            
            <ng-template #defaultIcon>
              <div class="default-user-photo">
                <i class="fa fa-user user-photo2"></i>
              </div>
            </ng-template>
        
            <div class="username-text mt-2">
              <span class="navbar-text fs-6 fw-bold text-white">{{ userFirstName }}</span>
            </div>
          </div>
        </li>
        
        
      </div>
        
      </div>
     
      
         
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">

        <button 
        style="color: red !important;"
        type="button" 
        class="btn-close position-absolute fw-bold end-0 top-0 m-3 d-lg-none" 
        aria-label="Close" 
        (click)="closeNavbar()">
      </button>
      
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/records"><i class="fa fa-chart-line"
              routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/farm-data"
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }" ><i class="fa fa-book"></i> Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sales"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-money-bill"></i> Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/expenses"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-book"></i> Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eggs-record-list"
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }" ><i class="fa fa-egg"></i> Eggs Production</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/workers"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-people-group"></i> Workers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-bag-shopping"></i> Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mortalities"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-skull-crossbones"></i> Mortalities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/our-services"
            routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-leaf"></i> Our Services</a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }" ><i class="fa fa-bars"></i> More</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="navigateTo('/about-us')"
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{ exact: true }" >About Us</a></li>
              <li><a class="dropdown-item" (click)="navigateTo('contact')"
                routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">Contact Us</a></li>
              <li><a class="dropdown-item" (click)="navigateTo('/faq')"
                routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">FAQ</a></li>
            </ul>
          </li>
        </ul>

        <ul class=" d-flex no-bullets " style="background-color:#caccce !important;">
         
          <div class="d-flex justify-content-center align-items-center gap-2" *ngIf="!loggedInUser" >
            <button (click)="SignIn()" class="btn btn-success bg-success">Sign In</button>
            <button (click)="SignUp()" class="btn btn-success bg-success">Sign Up</button>
          </div>
          
        
          <li class="nav-item d-flex align-items-center" *ngIf="loggedInUser">
           
            <div class="user-info d-flex align-items-center ms-3" routerLink="/settings">
             
              <ng-container *ngIf="!imageError && loggedInUser?.userImageUrl; else defaultIcon">
                <img 
                  [src]="loggedInUser.userImageUrl ? environment.apiUrl + '/' + loggedInUser.userImageUrl.replace('\\', '/') : ''" 
                  alt="User Image" 
                  class="user-photo rounded-circle" 
                  (error)="onImageError($event)" 
                  routerLink="/settings"
                  style="width: 50px; height: 50px; object-fit: cover;"
                >
              </ng-container>
          
              <ng-template #defaultIcon>
                <div
                  style="
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <i
                    class="fa fa-user user-photo"
                    style="font-size: 16px; color: rgb(102, 98, 98);"
                  ></i>
                </div>
              </ng-template>
    
            </div>
          </li>
        </ul>
      </div>
    </div>

</nav>


<nav class="bottom-navbar d-lg-none">
  <ul class="nav justify-content-around align-items-center m-0 p-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/records" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-house"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/eggs-record-list" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-egg"></i>
        <span>Eggs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/farm-data" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-book"></i>
        <span>Records</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-money-bill"></i>
        <span>Sales</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/expenses" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-chart-pie"></i>
        <span>Expenses</span>
      </a>
    </li>
  </ul>
</nav>


<div class="sidebar bg-dark" [ngClass]="{'open': isSidebarOpen}" *ngIf="isLargeScreen || isSidebarOpen">
  <ul class="nav flex-column" style="margin-top: 40px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/records"><i class="fa fa-chart-line"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/farm-data"><i class="fa fa-book"></i> Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales"><i class="fa fa-money-bill"></i> Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/expenses"><i class="fa fa-book"></i> Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/eggs-record-list"><i class="fa fa-egg"></i> Eggs Production</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/workers"><i class="fa fa-people-group"></i> Workers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customers"><i class="fa fa-bag-shopping"></i> Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mortalities"><i class="fa fa-skull-crossbones"></i> Mortalities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/our-services"><i class="fa fa-leaf"></i> Our Services</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{ exact: true }" ><i class="fa fa-bars"></i> More</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="navigateTo('/about-us')"
          routerLinkActive="active-link" 
          [routerLinkActiveOptions]="{ exact: true }" >About Us</a></li>
        <li><a class="dropdown-item" (click)="navigateTo('contact')"
          routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{ exact: true }">Contact Us</a></li>
        <li><a class="dropdown-item" (click)="navigateTo('/faq')"
          routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{ exact: true }">FAQ</a></li>
      </ul>
    </li>
  </ul>
</div>
