.navbar {
  background-color: #228B22;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: background-color 0.3s;
}

.navbar-nav{
  display: none;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-image {
  width: 50px;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.logo-image:hover {
  transform: scale(1.1);
}

.text-white {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.user-photo:hover {
  transform: scale(1.1);
}

.dropdown-item {
  color: #ffffff;
  padding: 10px 15px;
  background-color: #228B22;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #1e7e34;
}

.sidebar {
  left: -250px;
  width: 250px;
  height: calc(100% - 60px);
  background-color: #228B22;
  padding: 15px;
  transition: transform 0.3s ease;
  position: fixed;
  top: 60px;
  z-index: 1029;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .nav-link {
  color: #ffffff;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.sidebar .nav-link:hover {
  background-color: #1e7e34;
}

.online-status {
  color: rgb(13, 224, 13);
  font-size: 14px;
}


@media (max-width: 991px) {

  .navbar-collapse.show .navbar-nav {
    display: block; 
  }

  .sidebar {
      left: -250px; 
  }

  .sidebar.open {
      left: 0; 
  }

  .sidebar-toggle-btn {
      display: block; 
  }

  body {
      padding-left: 0;
  }
}

@media (min-width: 992px) {
  .sidebar {
      left: 0; 
      transform: translateX(0);
  }

  .sidebar-toggle-btn {
      display: none;
  }

  body {
      padding-left: 250px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #228B22;
    color: white;            
    text-align: left;          
    position: absolute;     
    left: 0;                  
    top: 60px;               
    width: 100%;           
    padding: 15px;           
  }

  .navbar-collapse .nav-link {
    color: white;         
  }

  .navbar-collapse .nav-link:hover {
    background-color: #1e7e34;
  }
}

