<!-- <nav class="sidebar">

  <div style="width: 100px;">
    <img src="assets/images/maizeMain.png" alt="main farm" style="width: 150px;height: 150px;border-radius: 100px;">
  </div>

  <button class="navbar-toggler" type="button" (click)="toggleCollapse()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div [ngClass]="{'collapse': isCollapsed, 'collapse show': !isCollapsed}" id="navbarNav">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link"> Home</a>
      </li>

   
      <li class="nav-item">
        <a class="nav-link" routerLink="/products"> <i class="fa fa-sitemap"></i> Products</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/deliveries"> <i class="fa fa-truck"></i> Deliveries</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"> Portfolio</a>
      </li>


      <li class="nav-item">
        <a class="nav-link"> <i class="fa fa-envelope"></i> Inbox</a>
      </li>
    </ul>
  </div>
</nav> 
