<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid" style="height: 60px;">
    <div class="d-flex justify-content-between align-items-center w-100">

      <div class="d-flex align-items-center ms-n5 me-1" style="width: 100%;max-width: 380px;">
        <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="logo d-flex align-items-center " >
          <img src="assets/images/poultry.jpg" alt="Eco-Eggs Poultry Logo" class="logo-image">
          <span class=" text-white ms-n2 me-1">EcoEggsFarm</span>
        </div>


        <div class="notifications">
          <button
            class="btn btn-light position-relative btn-sm-sm"
            style="width: 35px; height: 35px;"
            (click)="viewActivities()"
          >
            <i class="fa fa-bell" [class.vibrating]="recentActivities.length > 0" style="font-size: 12px;"></i>
            <span
              class="badge bg-danger position-absolute top-0 start-100 translate-middle"
              style="font-size: 12px;"
            >
              {{ recentActivities.length }}
            </span>
          </button>
        </div>
        
        
        
        
        

      </div>
         
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">

        <button 
        type="button" 
        class="btn-close position-absolute end-0 top-0 m-3 d-lg-none" 
        aria-label="Close" 
        (click)="closeNavbar()">
      </button>
      
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/records"><i class="fa fa-chart-line"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/farm-data"><i class="fa fa-book"></i> Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sales"><i class="fa fa-money-bill"></i> Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/expenses"><i class="fa fa-book"></i> Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eggs-record-list"><i class="fa fa-egg"></i> Eggs Production</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/workers"><i class="fa fa-people-group"></i> Workers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers"><i class="fa fa-bag-shopping"></i> Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mortalities"><i class="fa fa-skull-crossbones"></i> Mortalities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/our-services"><i class="fa fa-leaf"></i> Our Services</a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i> More</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="navigateTo('/about-us')">About Us</a></li>
              <li><a class="dropdown-item" (click)="navigateTo('contact')">Contact Us</a></li>
              <li><a class="dropdown-item" (click)="navigateTo('/faq')">FAQ</a></li>
            </ul>
          </li>
        </ul>

        <ul class=" ms-auto d-flex">
          <li class="nav-item" *ngIf="!loggedInUser">
            <button (click)="SignIn()" class="btn btn-primary">Sign In</button>
          </li>
          <li class="nav-item" *ngIf="!loggedInUser" style="margin-left: 4px;">
            <button (click)="SignUp()" class="btn btn-primary">Sign Up</button>
          </li>
          <li class="nav-item" *ngIf="loggedInUser">
            <span class="navbar-text fs-5 fw-bold text-muted">Welcome, {{ userFirstName }}!</span>
          </li>
          <li *ngIf="loggedInUser" class="nav-item d-flex align-items-center">
            <img 
              [src]="loggedInUser.userImageUrl ? environment.apiUrl + '/' + loggedInUser.userImageUrl.replace('\\', '/') : ''" 
              alt="User Image" 
              class="user-photo rounded-circle" 
              (error)="onImageError($event)" 
              routerLink="/settings"
            >
          </li>
          <li class="nav-item" *ngIf="loggedInUser">
            <button (click)="SignOut()" class="btn btn-primary" style="margin-left: 4px;">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<nav class="bottom-navbar d-lg-none">
  <ul class="nav justify-content-around align-items-center m-0 p-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="records">
        <i class="fa fa-house"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/eggs-records-list">
        <i class="fa fa-egg"></i>
        <span>Eggs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales">
        <i class="fa fa-money-bill"></i>
        <span>Sales</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/records">
        <i class="fa fa-book"></i>
        <span>Records</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/expenses">
        <i class="fa fa-chart-pie"></i>
        <span>Expenses</span>
      </a>
    </li>
  </ul>
</nav>




<div class="sidebar" [ngClass]="{'open': isSidebarOpen}" *ngIf="isLargeScreen || isSidebarOpen" >
  <div class="user-info d-flex align-items-center">
    <li *ngIf="loggedInUser" class="nav-item d-flex align-items-center">
      <ng-container *ngIf="!imageError && loggedInUser?.userImageUrl; else defaultIcon">
        <img 
          [src]="loggedInUser.userImageUrl ? environment.apiUrl + '/' + loggedInUser.userImageUrl.replace('\\', '/') : ''" 
          alt="User Image" 
          class="user-photo rounded-circle mt-5" 
          (error)="onImageError($event)" 
          routerLink="/settings"
        >
      </ng-container>
      <ng-template #defaultIcon>
        <i class="fa fa-user user-photo rounded-circle" style="font-size: 1.2em;color: rgb(102, 98, 98);" routerLink="/settings"></i>
      </ng-template>
      <p class="online-status">👤 Online</p>
    </li>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/records"><i class="fa fa-chart-line"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/farm-data"><i class="fa fa-book"></i> Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales"><i class="fa fa-money-bill"></i> Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/expenses"><i class="fa fa-book"></i> Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/eggs-record-list"><i class="fa fa-egg"></i> Eggs Production</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/workers"><i class="fa fa-people-group"></i> Workers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customers"><i class="fa fa-bag-shopping"></i> Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mortalities"><i class="fa fa-skull-crossbones"></i> Mortalities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/our-services"><i class="fa fa-leaf"></i> Our Services</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i> More</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="navigateTo('/about-us')">About Us</a></li>
        <li><a class="dropdown-item" (click)="navigateTo('contact')">Contact Us</a></li>
        <li><a class="dropdown-item" (click)="navigateTo('/faq')">FAQ</a></li>
      </ul>
    </li>
  </ul>
</div>

