<app-sidebar></app-sidebar>

<div class="container mb-5 " style="margin-top: 80px;">
  <div class="row">
    <div *ngFor="let service of services" class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img [src]="service.imageUrl" class="card-img-top" alt="{{ service.title }}" style="height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text">{{ service.shortDescription }}</p>
          <button class="btn btn-primary" (click)="openModal(service)">Learn More</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serviceModalLabel">{{ selectedService?.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img [src]="selectedService?.imageUrl" class="img-fluid mb-3" alt="{{ selectedService?.title }}">
          <p>{{ selectedService?.description }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
