<app-sidebar></app-sidebar>
<div class="container">

  <div class="chart-title text-center mt-1">
    <div class="d-flex align-items-center justify-content-between">
      
      <div (click)="goBack()" class="me-3">
        <i class="fa fa-chevron-left" title="Back" style="cursor: pointer;"></i>
      </div>

      <div class="flex-grow-1 text-center">
        <h5 class="fw-bold text-primary">Weekly Egg Production Trends</h5>
      </div>
    
      <div class="invisible me-3">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>
    
    <p class="text-muted">Weekly Visual representation of egg production over time</p>
  </div>

  <div class="chart-container mt-2">
    <ngx-charts-line-chart
      [view]="viewSize"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Week Range'"
      [yAxisLabel]="'Weekly Egg Count'"
      [autoScale]="true"
    ></ngx-charts-line-chart>
  </div>
  

  <table class="table table-hover mt-1 shadow-lg rounded">
    <thead>
      <tr>
        <th title="Range of the week">Week</th>
        <th title="Number of eggs produced">Egg Count</th>
        <th title="Broken eggs count">Broken</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of previousRecords">
        <td>
          {{ record.startOfWeek | date: 'shortDate' }} -
          {{ record.endOfWeek | date: 'shortDate' }}
        </td>
        <td>{{ record.eggsCount }}</td>
        <td>{{ record.brokenEggsCount }}</td>
      </tr>
    </tbody>
  </table>
</div>
