.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  margin-left: 250px;
  margin-top: 74px;
  overflow-x: hidden; 
}


.d-flex {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.me-3 {
  margin-right: 1rem;
}

.invisible {
  visibility: hidden; 
}


h2 {
  font-weight: 600;
  color: #4caf50;
  margin-bottom: 20px;
}

.chart-title h3 {
  font-size: 2rem;
  color: #5a5a5a;
  margin-bottom: 5px;
}

.chart-title p {
  font-size: 1rem;
  color: #888;
}

.chart-container {
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; 
  overflow: hidden; 
  margin: auto;
}


.chart-container text.axis-label {
  font-weight: bold;
  fill: #34495e;
}

.chart-container text.tick {
  fill: #7f8c8d;
}

.table {
  width: 100%;
  border-spacing: 0 10px;
  table-layout: fixed;
}

th {
  background-color: #4caf50;
  color: white;
  text-transform: uppercase;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
}

td {
  background: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin-left: 0;
  }

  .chart-container {
    padding: 15px;
  }

  ngx-charts-line-chart {
    width: 100%;
    height: auto;
  }

  .table td, .table th {
    font-size: 0.85rem;
  }
}
