body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 260px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1110px;
    transition: margin-left 0.3s ease;
    margin-top: 45px;
}

h1 {
    color: #333;
    margin-bottom: 0px;
    margin-top: 45px;
}

/* Button Styles */
.add-mortality-button,
.save-button,
.cancel-button,
.action-button {
    padding: 8px 12px; 
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-mortality-button {
    background-color: #28a745; 
    float: right;
}

.save-button {
    background-color: #007bff; 
}

.cancel-button {
    background-color: #dc3545; 
}

.action-button {
    background-color: #6c757d; 
    padding: 5px; 
}

.action-button.edit {
    background-color: #ffc107; 
}

.action-button.delete {
    background-color: #dc3545; 
}

.action-button.toggle {
    background-color: #17a2b8; 
}

.add-mortality-button:hover,
.save-button:hover,
.cancel-button:hover,
.action-button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transform: scale(1.05);
}

.mortality-form {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px; 
}

input[type="date"],
input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px; 
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.mortalities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mortalities-table th,
.mortalities-table td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    font-size: 14px; 
}

.mortalities-table th {
    background-color: #343a40;
    color: white;
}

.hidden {
    display: none;
}

.mortalities-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.total-mortalities {
    margin: 20px 0;
    font-size: 1.5em;
    color: #2c3e50;
    text-align: center;
  }
  

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .pagination-controls span {
    margin: 0 10px;
  }
  
  .btn.bg-success {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }


@media screen and (max-width: 992px) {
    .container {
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }

    .add-mortality-button {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .mortality-form {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .action-button {
        padding: 6px 8px;
    }

    .mortalities-table th,
    .mortalities-table td {
        font-size: 12px;
        padding: 8px;
    }

    .action-button {
        padding: 4px 6px;
    }
}

@media screen and (max-width: 576px) {
    .add-mortality-button {
        margin-top: 10px;
        width: 100%;
    }

    .mortalities-table th,
    .mortalities-table td {
        font-size: 10px;
        padding: 5px;
    }

    .container {
        padding: 10px;
    }
}
