<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->

<div class="container-fluid">


<div class="container">
    <h1>Farm Production (Cereals & Legumes)</h1>
    <img src="assets/images/farmer.png" alt="A farmer with a fork Jembe" style="width: 520px;;"><br>
    <button type="button" class="btn btn-success w-100 mt-10" (click)="products()" >Products</button>
</div>

<div class="Poultry">
    <h1>Improved and Kienyeji Poultry Farm</h1>
    <img src="assets/images/poultry.jpg" alt="A farmer with a fork Jembe"><br>
    <button type="button" class="btn btn-success w-100 mt-10" (click)="poultry()">Products</button>
</div>


</div>

<app-footer></app-footer> 