.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-left: 250px;
    margin-top: 60px;
  }
  
  .graph-container {
    text-align: center;
    height: auto;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  
  .table {
    text-align: center;
  }
  
  h2, h3 {
    font-weight: bold;
  }

  @media (max-width:992px){
    .container{
        margin-left: 0;
    }

    .graph-container {
        text-align: center;
        height: auto;
      }

  }
  