body {
  background-color: #f7fafc;
  font-family: 'Roboto', sans-serif;
}

.container-fluid.main-content {
  margin-left: 240px; 
  margin-top: 60px;
  max-width: 1100px;
  width: 100%;
 
}

.summary-card {
  width: 258px;
  height: 200px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.summary-card:hover {
  transform: scale(1.00);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.toggle-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #6c757d;
  cursor: pointer;
  float: right;
  margin-top: -5px;
  outline: none;
}

.toggle-btn:hover {
  color: #343a40;
}


h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.table-responsive {
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1110px;
}

.table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

.form-select {
  padding: 8px;
  border-radius: 4px;
}

.btn-success {
  padding: 10px 20px;
}

.pagination-controls .btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.pagination-controls .btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

@media (max-width: 1024px) {
  .container-fluid.main-content {
    margin-left: 0;
    max-width: 100%;
  }

  .summary-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .table-responsive {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
  }

  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .d-flex > .ms-auto {
    margin-top: 10px;
    width: 100%;
  }

  .pagination-controls {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .summary-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }

  .container-fluid.main-content {
    margin-left: 0;
    max-width: 100%;
  }

  .pagination-controls .btn-outline-success {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .container-fluid.main-content {
    margin-left: 0;
  }

  .summary-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }

  .pagination-controls {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
