
<app-sidebar></app-sidebar>

<div class="hello-admin-container">
  <h3 class="text-dark">Hello, Admin 😊</h3>
</div>

<div class="container-fluid main-content">
  <div class="chart-title text-center">
    <h3 class="fw-bold text-primary fs-3">Production Overview</h3>
    <p class="text-muted">visual representations of annual poultry production trends and metrics.</p>
  </div>

  <div class="grid-container">
  
    <div class="card summary-card">
      <div class="card-body bg-white text-center position-relative">
        <h5 class="my-2">
          <i class="fa fa-chart-bar text-success me-2"></i>Sales
          <button (click)="toggleVisibility('sales')" class="toggle-btn">
            <i class="fa" [ngClass]="{ 'fa-eye': showSales, 'fa-eye-slash': !showSales }"></i>
          </button>
        </h5>
        <div><hr></div>
        <div>
          <strong *ngIf="showSales" class="display-6 text-success">{{ totalSalesAmount | currency: 'Kes.' }}</strong>
          <strong *ngIf="!showSales" class="text-muted">----</strong>
        </div>
        <div class="progress mt-3">
          <div class="progress-bar bg-success" [style.width.%]="salesProgress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center mt-2">
          <strong>{{ salesProgress | number: '1.0-0' }}%</strong>
        </div>
      </div>
    </div>

    <!-- Card 2: Expenses -->
      <div class="card summary-card">
        <div class="card-body bg-light text-center position-relative">
          <h5 class="my-2">
           <i class="fa fa-bomb text-danger me-1"></i> Expense
            <button (click)="toggleVisibility('expenses')" class="toggle-btn">
              <i class="fa" [ngClass]="{ 'fa-eye': showExpenses, 'fa-eye-slash': !showExpenses }"></i>
            </button>
          </h5>
          <div><hr></div>
            <div>
            <strong *ngIf="showExpenses" class="display-6 text-danger mt-4">{{ totalExpensesAmount | currency: 'Kes.' }}</strong>
            <strong *ngIf="!showExpenses" class="text-muted">----</strong>
          </div>
          

          <div class="progress mt-3">
            <div class="progress-bar bg-danger" [style.width.%]="salesProgress" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-center mt-2">
            <strong>{{ expenseProgress | number: '1.0-0' }}%</strong>
          </div>
          <!-- <button class="btn btn-outline-primary mt-3" [routerLink]="['/details', 'expense']">
            View More <i class="fa fa-arrow-right"></i>
          </button> -->
        </div>
      </div>
  
      <div class="card summary-card">
        <div class="card-body bg-white text-center position-relative">
          <h5 class="my-2">
            <i class="fa fa-chart-bar text-primary me-2"></i>Profit
            <button (click)="toggleVisibility('profit')" class="toggle-btn">
              <i class="fa" [ngClass]="{ 'fa-eye': showProfit, 'fa-eye-slash': !showProfit }"></i>
            </button>
          </h5>
          <div><hr></div>
          <div>
            <strong 
              [ngClass]="{
                'text-success': profit > 0, 
                'text-danger': profit < 0,
                'text-muted': !showProfit
              }" class="display-6" >
              <span *ngIf="showProfit">{{ profit | currency: 'KES' }}</span>
              <span *ngIf="!showProfit" class="text-muted">----</span>
            </strong>
          </div>
          <!-- <div class="progress mt-3">
            <div class="progress-bar" 
              [ngClass]="{ 
                'bg-success': profit > 0, 
                'bg-danger': profit < 0,
                'bg-muted': profit === 0
              }" 
              [style.width.%]="ProfitProgress" 
              aria-valuemin="0" 
              aria-valuemax="100">
            </div>
          </div> -->
          <div class="text-center mt-2">
            (<strong> {{ ProfitProgress | number: '1.0-0' }}% </strong>)
          </div>
        </div>
      </div>
      
      <div class="card summary-card">
        <div class="card-body bg-light text-center">
          <div class="d-flex justify-content-between">
           <h5 class="my-2">
            <i class="fa fa-people-roof text-dark me-2"></i>CUST
              <button (click)="toggleVisibility('totalBirds')" class="toggle-btn">
                <i class="fa" [ngClass]="{ 'fa-eye': showTotalBirds, 'fa-eye-slash': !showTotalBirds }"></i>
              </button>
          </h5>
          </div>
          <div><hr></div>
          <h5 class="mt-1">
            <strong *ngIf="showTotalBirds" class="display-6 fw-bold">{{totalCustomers}} <i class="fa fa-check-to-slot text-success"></i></strong>
            <strong *ngIf="!showTotalBirds" class="text-muted">----</strong>
          </h5>
    
          <!-- <button class="btn btn-outline-primary mt-3" [routerLink]="['/details', 'birds']">
            View More <i class="fa fa-arrow-right"></i>
          </button>
       -->
          
        </div>
      </div>

   <div class="card summary-card">
      <div class="card-body bg-light text-center">
        <div class="d-flex justify-content-between">
          <h5 class="my-2"><i class="fa fa-dove text-warning me-2">

          </i>Birds
          <div>
            <button (click)="toggleVisibility('totalBirds')" class="toggle-btn ">
              <i class="fa" [ngClass]="{ 'fa-eye': showTotalBirds, 'fa-eye-slash': !showTotalBirds }"></i>
            </button>
          </div>
        </h5>
        </div>
        <div><hr></div>
        <h5 class="mt-1">
          <strong *ngIf="showTotalBirds" class="display-6 fw-bold">{{ effectiveTotalBirds }} <i class="fa fa-check-to-slot text-success"></i></strong>
          <strong *ngIf="!showTotalBirds" class="text-muted">----</strong>
        </h5>
  
      </div>
    </div>
 
    
    <div class="card summary-card">
      <div class="card-body bg-light text-center">
        <div class="d-flex justify-content-between">
          <h5 class="my-2">
            <i class="fa fa-skull-crossbones text-danger me-2"></i>MORT
            <button (click)="toggleVisibility('totalBirds')" class="toggle-btn">
              <i class="fa" [ngClass]="{ 'fa-eye': showTotalBirds, 'fa-eye-slash': !showTotalBirds }"></i>
            </button>
        </h5>
        </div>
        <div><hr></div>
        <h5>
          <strong *ngIf="showTotalBirds" class="display-6 text-danger">Rate: {{(totalMortalities/totalBirds )*100 | number:'1.0-2'}}% </strong>
          <strong *ngIf="!showTotalBirds" class="text-muted">----</strong>
        </h5>
  
      </div>
    </div>
  </div>



  <div class="text-success" style="max-width: 100%;">
    <hr>
  </div>


  <div class="container-fluid2 mt-4">
    <div class="d-flex flex-column flex-lg-row">
      <!-- Chart Section -->
      <div class="chart-container flex-grow-1 me-lg-3">
        <h3 class="fw-bold text-success">Sales &Expense Production Trend</h3>
        <div class="card shadow-lg">
          <div class="card-body">
            <canvas id="salesExpenseChart"></canvas>
          </div>
        </div>
      </div>
  
      <!-- Table Section -->
      <div class="table-container flex-grow-1 mt-4 mt-lg-0">
        <h3 class="fw-bold text-success">Monthly production Records</h3>
        <div class="table-responsive shadow-sm rounded">
          <table class="table table-hover table-bordered">
            <thead class="bg-success text-light">
              <tr>
                <th>Month</th>
                <th>Total Sales</th>
                <th>Total Expenditure</th>
                <th>Profit</th>
              </tr>
            </thead>
            <tbody *ngIf="!noDataForYear; else noDataTemplate">
              <tr *ngFor="let month of getFilteredMonthlyRecords() | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                <td>{{ month }} {{ selectedYear }}</td>
                <td>{{ monthlySales[getMonthIndex(month) + 1] || 0 | currency: 'Kes.' }}</td>
                <td>{{ monthlyExpenses[getMonthIndex(month) + 1] || 0 | currency: 'Kes.' }}</td>
                <td [ngClass]="{
                    'text-success': (monthlySales[getMonthIndex(month) + 1] || 0) - (monthlyExpenses[getMonthIndex(month) + 1] || 0) > 0,
                    'text-danger': (monthlySales[getMonthIndex(month) + 1] || 0) - (monthlyExpenses[getMonthIndex(month) + 1] || 0) <= 0
                  }">
                  {{ (monthlySales[getMonthIndex(month) + 1] || 0) - (monthlyExpenses[getMonthIndex(month) + 1] || 0) | currency: 'Kes.' }}
                </td>
              </tr>
            </tbody>
            <ng-template #noDataTemplate>
              <tr>
                <td colspan="4" class="text-center text-danger fw-bold">No records available for this year</td>
              </tr>
            </ng-template>
          </table>
        </div>

        <div class="pagination-controls mt-3">
          <button (click)="previousPage()" class="btn btn-outline-success">Previous</button>
          <span >Page {{ currentPage }} of {{ totalPages }}</span>
          <button (click)="nextPage()" class="btn btn-outline-success">Next</button>
        </div>

      </div>
    </div>
  </div>
  
</div>

