.delivery-form{
    margin-left: 30%;
    margin-top: 120px;
    margin-bottom: 60px;
}

h2{
    margin-left: 18%;
    margin-top: 15px;
    font-weight: bold;
}

input{
    width: 300px;
    border-radius: 12px;
    margin-top: 10px;
    height: 34px;
    border: solid;
}

label{
    width: 100px;
}
button{
    margin-top: 10px;
    margin-left: 18%;
    border-radius: 12px;
    border: none;
    background-color: rgb(30, 30, 248);
    height: 40px;
    font-weight: bold;
}

