<app-header></app-header>

<div class="container">
  <div class="delivery-container">
    <div class="delivery-info">
      <h2>Personal Information</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" [(ngModel)]="deliveryInfo.name" name="name" required>
        </div>
        
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input id="phone" [(ngModel)]="deliveryInfo.phone" name="phone" required>
        </div>
        
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" [(ngModel)]="deliveryInfo.email" name="email" required>
        </div>
        
      </form>
    </div>

    <div class="order-summary">
      <h1>Order Summary</h1>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cart">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | currency }}</td>
          </tr>
        </tbody>
      </table>
      <div class="total">
        <p>Total: {{ total | currency }}</p>
      </div>
    </div>

    <div  style="margin-bottom: 10px;width: 100%;">
      <form (ngSubmit)="onSubmit()" >
        <button type="submit">Confirm Order</button>
      </form>
    </div>

    
  </div>
</div>

<app-footer></app-footer>
