<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->


<div class="delivery-form">
    <h2>Delivery Information</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="deliveryInfo.name" name="name" required>
      </div>
      <div>
        <label for="address">Address:</label>
        <input id="address" [(ngModel)]="deliveryInfo.address" name="address" required>
      </div>
      <div>
        <label for="phone">Phone:</label>
        <input id="phone" [(ngModel)]="deliveryInfo.phone" name="phone" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="deliveryInfo.email" name="email" required>
      </div>
      <button type="submit">Confirm Order</button>
    </form>
  </div>

  <app-footer></app-footer> 
  