
.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
    padding: 30px; 
    margin: 80px auto;
    max-width: 350px;
    width: 100%;
    margin-top: 85px;
    float: right;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin-left: 20px;
    white-space: nowrap;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .logo span {
    color: rgb(241, 220, 97);
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px; 
    white-space:nowrap;
  }

.card-title {
    font-size: 24px; 
    font-weight: 300; 
    color: #333; 
    margin-bottom: 15px;
    float: left;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f6f8fa;
}

.form-control {
    border-radius: 5px; 
    border: 1px solid #ced4da;
    padding: 10px;
    transition: border-color 0.3s ease; 
}

.form-control:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.form-label {
    font-weight: bold;
    margin-bottom: 0; 
    margin-right: 10px;
}

.btn {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    cursor: pointer; 
    display: flex;
    align-items: center;
}

.btn-secondary {
    background-color: #6c757d;
    margin-right: 15px;
}

.btn:hover {
    background-color: #218838; 
}

.d-flex {
    display: flex;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.mb-3 {
    margin-bottom: 1.5rem; 
}

@media (max-width: 768px) {
    .user-photo {
        width: 16px; 
        height: 16px;
      }

    .card {
        margin: 20px;
        padding: 20px;
        width: auto;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .d-flex {
        flex-direction: column;
    }

    .flex-grow-1, .flex-grow-2 {
        width: 100%;
    }
}
