<app-sidebar></app-sidebar>

<div class="container settings-page">
  
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center py-3">
      <h4><i class="fa fa-gear me-2"></i>Settings</h4>
    </div>


    <div class="card-body">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  
        <div class="mb-4">
          <label for="name" class="form-label">Name:</label>
          <input 
            type="text" 
            formControlName="name" 
            class="form-control" 
            id="name" 
            placeholder="Enter your name">
        </div>

        <div class="mb-4">
          <label for="role" class="form-label">Role:</label>
          <input 
            type="text" 
            formControlName="role" 
            class="form-control" 
            id="role" 
            placeholder="Enter your role">
          <div 
            *ngIf="settingsForm.get('role')?.value === 'N/A' && settingsForm.get('role')?.touched" 
            class="text-danger mt-1">
            Role cannot be 'N/A'.
          </div>
        </div>

        <div class="mb-4">
          <label for="contacts" class="form-label">Phone Number:</label>
          <input 
            type="text" 
            formControlName="contacts" 
            class="form-control" 
            id="contacts" 
            placeholder="Enter your contact number">
        </div>

        <div class="mb-4">
          <label for="email" class="form-label">Email:</label>
          <input 
            type="email" 
            formControlName="email" 
            class="form-control" 
            id="email" 
            placeholder="Enter your email">
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
          <button 
            title="back"
            type="button" 
           (click)="goBack()"
            class="btn btn-secondary">
            <i class="fa fa-backward me-2"></i>Back
          </button>

          <div>
            <button 
              title="edit"
              type="submit" 
              class="btn btn-success me-2">
              <i class="fa fa-edit me-2"></i>Edit
            </button>

            <button 
             title="logout"
              type="button" 
              (click)="signOut()" 
              class="btn btn-danger">
              <i class="fa fa-sign-out-alt me-2"></i>Sign Out
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
