.container{
margin-top: 48px;
}

.settings-page {
    max-width: 600px;
    margin: auto;
  }
  
  .card {
    border-radius: 10px;
    top: 68px;
  }
  
  .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .settings-page {
      padding: 0 15px;
    }
  
    .card {
      margin-top: 24px;
    }
  }
  