<app-sidebar></app-sidebar>
<div class="card">

    <div> <h4 class="card-title text-center"><i class="fa fa-gear"></i>  Settings</h4></div>


    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        
        <div *ngIf="loggedInUser" class="text-center d-flex">
            <ng-container class="ms-4">
              <img 
                *ngIf="loggedInUser.userImageUrl && loggedInUser.userImageUrl.trim() !== ''; else defaultIcon" 
                [src]="environment.apiUrl + '/' + loggedInUser.userImageUrl.replace('\\', '/')"
                alt="User Image"
                class="user-photo rounded-circle mb-3">
            </ng-container>
          
            <ng-template #defaultIcon>
              <img 
                src="assets/default-user.png" 
                alt="Default User" 
                class="user-photo rounded-circle mb-3">
            </ng-template>
          </div>
          
          
     
        <div class="mb-3 d-flex align-items-center">
            <label for="name" class="form-label flex-grow-1">Name:</label>
            <input type="text" formControlName="name" class="form-control flex-grow-2" id="name" placeholder="Enter your name">
        </div>

        <div class="mb-3 d-flex align-items-center">
            <label for="role" class="form-label flex-grow-1">Role:</label>
            <input type="text" formControlName="role" class="form-control flex-grow-2" id="role" placeholder="Enter your role">
            <div *ngIf="settingsForm.get('role')?.value === 'N/A' && settingsForm.get('role')?.touched" class="text-danger">N/A</div>
        </div>

       
        <div class="mb-3 d-flex align-items-center">
            <label for="contacts" class="form-label flex-grow-1">Tel:</label>
            <input type="text" formControlName="contacts" class="form-control flex-grow-2" id="contacts" placeholder="Enter your contacts">
        </div>

      
        <div class="mb-3 d-flex align-items-center">
            <label for="email" class="form-label flex-grow-1">Email:</label>
            <input type="email" formControlName="email" class="form-control flex-grow-2" id="email" placeholder="Enter your email">
        </div>

      
        <div class="d-flex justify-content-between">
            <button type="button" routerLink="/records" class="btn btn-secondary"><i class="fa fa-backward"></i> Back</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i>  Edit</button>
        </div>
    </form>
</div>
